*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.primary-color{
    color: #ee5253;
}
.primary-font-color{
    color: white;
}
.secondary-font-color{
    color: black;
}
.gray-font-color{
    color: darkgray;
}
.title-primary{
    font-size: 4.4rem;
    color: black;
}
.text-primary{
    color: #797979;
    font-size: 1.7rem;
}
.center-text{
    text-align: center;
}
.header{
    background-image: url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.header-inner{
    padding: 15rem 20%;
}
.header-title{
    font-size: 6rem;
    text-align: center;
    color: white;
}
.header-text{
    text-align: center;
    padding: 2rem 10rem 3rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
.primary-btn{
    color: white;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #ee5253;
    border: none;
    border-radius: 7px;
    padding: 1rem 2rem;
}
#selected-btn{
    background-color: #ffecec;
    border: 3px solid #ee5253;
    color: #ee5253;
}
.center{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.main{
    margin: 0 10%;
    /* border: 1px solid; */
}
.section-primary{
    padding-top: 10rem;
}
.inner-section{
    margin: 0 10%;
}
.donate-today-text{
    padding: 2rem 10% 4rem;
}
.amounts{
    display: flex;
    justify-content: space-around;
}
.amounts button{
    padding: 4rem 0;
    width: 13rem;
    background-color: #f9f9f9;
    color: gray;
    font-size: 3rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}
.other-amount{
    color: #797979;
    font-size: 1.7rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 4rem 0 1rem;
    margin-bottom: 2.5rem;
}
.donate-plan-text{
    padding: 1.7rem 20% 3rem;
}
.plans{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.plan{
    padding: 5rem 2rem;
    border: none;
    border-radius: 7px;
}
.plan-title{
    font-size: 2rem;
    font-weight: 700;
    padding: 2.5rem 0 1.5rem;
}
.plan-text{
    color: #797979;
    font-size: 1.5rem;
}
.plan:nth-child(1){
    background-color: #ffecec;
}
.plan:nth-child(2){
    background-color: #dbfef8;
}
.plan:nth-child(3){
    background-color: #ffe2e2;
}
.motivation-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    /* padding-right: 10rem; */
    padding: 12rem 5rem 0;
}
.motivation-title{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
/* .motivation-1>div{
    width: 45%;
} */
.motivation-img{
    width: 80%;
    /* border: 2px solid; */
}
.motivation-img img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.motivation-btn{
    margin-top: 3rem;
}
.updates{
    margin-top: 14rem;
}
.update-text{
    padding: 2rem 10rem 3rem;
}
.update-input{
    margin: 2rem 15% 8rem;
    padding: 8rem;
    background-color: #ffecec;
}
#subscribe{
    display: inline-block;
    font-size: 1.5rem;
    width: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form2{
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.email-input{
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #e9e9e9;
    padding: 1rem 2rem;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form input{
    display: inline-block;
    height: 100%;
}
footer{
    padding: 5rem;
    background-color: #222f3e;
}
.footer-title{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
}
.footer-text{
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}